<section class="d-flex justify-content-center">




  <div class=" container row d-flex justify-content-center">
    <div class="ml-5 col-md-6">
      <h2 class="text-center mt-5">Edit Products</h2>
      <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data">
        {{!-- enctype kodthalee image file upload cheyyullu--}}
        <label for="">Name</label>
        <input type="text" name="name" class="form-control" value="{{product.name}}">

        <label for="">Description</label>
        <input type="text" name="description" class="form-control" value="{{product.description}}">

        <label for="">Price</label>
        <input type="Number" name="price" class="form-control" value="{{product.price}}">



        <select class="form-select" id="select" name="Category" aria-label="Default select example">
          <option selected>Select Category</option>
          {{#each category}}
          <option value="{{this.category}}">{{this.category}}</option>
          {{/each}}
        </select>
        <div>
        <input type="checkbox" value="S" name="size"><label for="">S</label>
        <input type="checkbox" value="M" name="size"><label for="">M</label>
        <input type="checkbox" value="L" name="size"><label for="">L</label>
        <input type="checkbox" value="XL" name="size"><label for="">XL</label>
</div>
        <label for="">Image</label>
        <img src="/product-image/{{product._id}}.jpg" alt="" style="width: 250px;height:auto" id="imgView">
        <input type="file" name="image" class="form-control" multiple onchange="viewImage(event)">

        <button type="submit" class="btn btn-success mt-4">Submit</button>

      </form>
    </div>
  </div>
</section>

<script>
  function viewImage(event) {
    document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
  }
</script>