<body class="animsition">


	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				{{!-- Home --}}
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				{{!-- Shoping Cart --}}
			</span>
		</div>
	</div>


	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2">Name</th>
									{{!-- <th class="column-3">Price</th> --}}
									{{!-- <th class="column-4">Quantity</th> --}}
									<th class="column-5">Action</th>
								</tr>
								{{#each wishlistitems}}
								<tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="/product-image/{{this.image.[0]}}" alt="IMG">
										</div>
									</td>
									<td class="column-2">{{this.productName}}</td>
									{{!-- <td class="column-3">₹{{this.Price}}</td> --}}
									{{!-- <td class="column-3">${{this.productid}}</td> --}}

									{{!-- <td class="column-4">
										<div class="wrap-num-product flex-w m-l-auto m-r-0">
											{{#if (gt this.quantity 1)}}
											<button class="btn cl8 hov-btn3 trans-04 flex-c-m"
												onclick="decQty('{{this.productid}}')">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</button>
											{{/if}}

											<input class="mtext-104 cl3 txt-center num-product" type="number"
												name="num-product1" id="sample" value={{this.quantity}} disabled
												aria-disabled="true">

											<button class="btn cl8 hov-btn3 trans-04 flex-c-m"
												onclick="incQty('{{this.productid}}')">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</button>
										</div>
									</td> --}}
									<h1 id="productid" hidden>{{this.productid}}</h1>
									<td class="column-5">
										<a class="btn btn-dark mt-4 bor1"
											href="/delete-wishlistProduct/{{this.productid}}">Delete</a>
											<button class="btn btn-dark mt-4 bor1" onclick="addtocart()">Add To Cart</button>
										
									</td>
								</tr>
								{{/each}}

								
							</table>
						</div>

						
					</div>
				</div>


			</div>
		</div>
	</form>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>


	<script>

		function addtocart() {
			let productid = document.getElementById('productid').innerHTML
			//let radiosize = $('#radio-size').serialize()
			console.log(productid)
			console.log("jjjjjjjj")
			axios({
				method: 'post',
				url: '/add-to-cart',
				data: { productid }
			}).then((response) => {
				Swal.fire({
					position: 'top-bottom',
					icon: 'success',
					title: 'Item added to cart',
					showConfirmButton: false,
					timer: 1500
				})
			})
		}
	</script>

	<script>
		const decQty = async (id) => {
			console.log("dfgdfgdgdgdd", id)
			try {
				const res = await axios.post(`/decQty/${id}`, {}).then((e) => {
					//e.data.response
					//document.getElementById(id).value=e.data.response.quantity
					window.location.reload()
				});
			} catch (err) {
				console.log(err);
			}
		}


		const incQty = async (id) => {
			console.log("dfgdfgdgdgd55555555d", id)

			try {
				const res = await axios.post(`/incQty/${id}`, {}).then((e) => {
					//e.data.response
					//document.getElementById(id).value=e.data.response.quantity
					window.location.reload()
				});
			} catch (err) {
				console.log(err)

			}

		}
	</script>

</body>